<div class="container">
    <h1>Welcome to</h1>
    <p>Guru Samrudha Jutoor's Demo site</p>

    <div class="card">
        <div class="card mb-2">
            <button class="btn btn-secondary" routerLink="/users">Users Section </button>
        </div>
        <div class="card mb-2">
            <button class="btn btn-dark" routerLink="/posts"> Post Section</button>
        </div>
    </div>

    <div align="center">
        <h5 class="p-3 mb-2 ">Functions used in this site</h5>

    </div>
    <div class="row">

        <div class="col-sm-4">
            <ul class="list-group">

                <li class="list-group-item">Components</li>
                <li class="list-group-item">Methods and properties</li>
                <li class="list-group-item">String Interpolation</li>
                <li class="list-group-item">Interfaces</li>
                <li class="list-group-item">Loops using ngFor</li>
                <li class="list-group-item">Conditions using ngIf</li>
                <li class="list-group-item">Bootstrap 4</li>

            </ul>

        </div>
        <div class="col-sm-4">
            <ul class="list-group">

                <li class="list-group-item">Property Binding</li>
                <li class="list-group-item">Class Binding & ngClass</li>
                <li class="list-group-item">Style Binding & ngStyle</li>
                <li class="list-group-item">Pipes & Custom Pipes</li>
                <li class="list-group-item">Events</li>
                <li class="list-group-item">ngModel & 2way data Binding</li>
                <li class="list-group-item">Form Validations</li>

            </ul>

        </div>
        <div class="col-sm-4">
            <ul class="list-group">
                <li class="list-group-item">Services and Observables</li>
                <li class="list-group-item">Http POST and GET requests</li>
                <li class="list-group-item">Http PUT and DELETE requests</li>
                <li class="list-group-item">EventEmitter Output & Input</li>
                <li class="list-group-item">Angular Routers</li>
                <li class="list-group-item">Build and Deploy at github</li>
                <li class="list-group-item">Build and Deploy at AWS serverless</li>

            </ul>

        </div>



    </div>

</div>